:root{
    --mainBlue:#213285;
    --secondaryBlue:#448AFF;
    --mainBlack:#141722;
    --mainGrey:#2b2d38;
    --whiteTextColor:#e4e4e3;
    --mainText:'Noto Sans', sans-serif;
    --secondaryText:'Quattrocento Sans', sans-serif;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: var(--mainBlue);
}
body{
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: var(--mainBlack);
    
}
a{
    text-decoration: none;
    color: var(--whiteTextColor);
    cursor: pointer;
}
h3{
    font-family: var(--secondaryText);
    color: var(--whiteTextColor);
}
img{
    cursor: pointer;
}

/*estilos para ocultar seccion*/
main .hidden
{
    display: none;
}
main section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    background-color: var(--mainGrey);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 10px;
    margin-top: 10px;
   
}

/*estilos para el header*/
header{
    width: 100%;
    min-width: 320px;
    height:auto;
    display: flex;
    flex-direction:column;
    padding: 0 5px;
    background-color: var(--mainBlue);
}
.header-logo{
    display: flex;
    justify-content: center;
}
.header-logo img{
    cursor: default;
}
header section{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}
.header-searcher input{
    margin: 0 5px;
}
.header-searcher-lang{
    width: 40px;
    height: 40px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.header-searcher-lang--spanish{
    background-image: url('https://cdn4.iconfinder.com/data/icons/world-flags-12/512/Untitled-2-05-128.png');

}
.header-searcher-lang--english{
    background-image: url('https://cdn4.iconfinder.com/data/icons/flat-country-flag/512/United_States-128.png');

}

.header-logo img{
    width: 86px;
    
}

header section a{
    display: flex;
    align-items: center;
}
header .header-links img,
.header-profile img,
.header-searcher img{
    width: 40px;
}
.header-profile p{
    color:var(--whiteTextColor);
}
.header-links{
    display: flex;
    justify-content: center;
   
    
}
.header-links a{
    margin: 0 3px;
    
}
/*para poner los titulos a los links de acuerdo al idioma*/

 .header-links__home-english::before{
  content: 'Home';
  font-size: 1.4rem;
}
.header-links__home-spanish::before{
    content: 'Inicio';
    font-size: 1.4rem;
  }
  .header-links__myList-english::before{
    content: 'Most populars';
    font-size: 1.4rem;
  }
  .header-links__myList-spanish::before{
      content: 'Populares';
      font-size: 1.4rem;
    }
    .header-links__movies-spanish::before{
        content: 'Cartelera';
        font-size: 1.4rem;
    }
    .header-links__movies-english::before{
        content: 'New movies';
        font-size: 1.4rem;
    }
    .header-links__search-spanish::before{
        content: 'Buscar';
        font-size: 1.4rem;
    }
    .header-links__search-english::before{
        content: 'Search';
        font-size: 1.4rem;
    }
    .terms-spanish::before{
        content: 'Terminos y Condiciones';
        width: 100px;
        height: auto;
        font-size: 1.6rem;
    }
    .terms-english::before{
        content: 'Terms';
        width: 100px;
        height: auto;
        font-size: 1.6rem;
    }
    .aboutUs-spanish::before{
        content: 'Sobre Nosotros';
        width: 100px;
        height: auto;
        font-size: 1.6rem;
    }
    .aboutUs-english::before{
        content: 'About Us';
        width: 100px;
        height: auto;
        font-size: 1.6rem;
    }
    .terms-englishText,
    .terms-spanishText,
    .aboutUs-spanishText,
    .aboutUs-englishText{
        width: 100%;
        height: auto;
        color: var(--whiteTextColor);
        font-size: 2rem;
    }
    .terms-englishText::before{
        content: 'This app has been created for educational and informational purpuses, its use does not entail any cost ';
      
    }
    .terms-spanishText::before{
        content: 'Esta aplicaci贸n ha sido creada con fines educativos e informativos, su uso no supone ning煤n cargo econom铆co ';
    }
    .aboutUs-englishText::before{
        content: 'Movies+ is an informative application, here you can see movies in theaters information as comming soon  and best rated movies.';
    }
    .aboutUs-spanishText::before{
        content: 'Movies+ es una aplicaci贸n informativa en la cual podras consultar las pel铆culas en cartelera as铆 como los pr贸ximos estrenos y las pel铆culas mejor calificadas de todos los tiempos';
    }

/*estilos para secci贸n newMovies*/
.newMovies{
    width:100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    margin: 20px auto;
    background-color: var(--mainGrey);
    
}

.newMovies .newMovies-container{
    display:flex;
    justify-content: space-around;
    width: 100vw;
    height: 100%;
}

.topMovie-container{
    display: flex;
    width: 100vw;
    height: 100%;
    margin: 0 ;
    position: relative;
    /*para poder posicionar el primer slide 3031px;*/
    left: calc(100vw * 9.48);
    
}
.newMovies .newMovies-container
.topMovie-container img{
    width: 100vw;
    height: 100%;
    opacity: 0.7;
}
.topMovie-container p{
    position: absolute;
    top: calc(6%);
    left: calc(6%);
    color: var(--whiteTextColor);
}

.new-container p,
.favourites-container p{
    margin: 10px auto;
    font-size: 2rem;
    font-family: var(--secondaryText);
   color: var(--whiteTextColor);
   padding: 0 5px;
}


.tituloPelicula{
    position: absolute;
    top: calc(20%);
    left: calc(40%);
    font-weight: bold;
    font-family: var(--secondaryText);
}
.newMovies .newMovies-container img{
   width: 100%;
   height: 200px;
   margin:0 10px ;
    
}

/*estilos para secci贸n studios*/
.studios{
    display: none;
    width: 90%;
    
}
.studios .container{
    width: 90%;
    
}
.studios-container{
    width:100%;
   
   
    
}
.studios-container img{
    width: 90px;
    height: 60px;
    
    
}
.studios .disney:hover{
    content: url('../images/disney_fondo.jfif');
    cursor:auto;
}
.studios .pixar:hover{
    content: url('../images/pixar_fondo.jfif');
    cursor:auto;
}
.studios .marvel:hover{
    content: url('../images/marvel_fondo.jfif');
    cursor:auto;
}
.studios .starWars:hover{
    content: url('../images/starWars_fondo.jfif');
    cursor:auto;
}
.studios .natgeo:hover{
    content: url('../images/natgeo_fondo.jfif');
    cursor:auto;
}

/*estilos para secci贸n recomendations*/
.sectionContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    
}


/*estilos comunes para secci贸n new, commingsoon y favourites*/
.new,
.commingSoon,
.favourites{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
}
.movie{
    overflow-x: hidden;
}

.new .new-container,
.commingSoon .new-container,
.favourites .new-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    text-align: left;
    scroll-snap-align: center;
   
}
.new-container img,
.commingSoon-container img,
.favouritesContainer img{
    width: 150px;
    height: 200px;
    margin: 0 10px;
}
/*estilos para el bot贸n de like*/
.new-container--likeButton{
  position: absolute;
  top:5px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  z-index: 100;
}
.new-container--likeButton::before{
    content: 'わ';
}
.new-container--dontLikeButton{
    position: absolute;
  top:5px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  z-index: 100;
     background-color: var(--secondaryBlue);
}
.new-container--dontLikeButton::before{
    content: '';
}
/*estilos para secci贸n classifications*/

.classifications{
display: flex;
flex-wrap: wrap;
width: 90%;
height: auto;
padding: 10px;
margin: 0 auto;
}
.classifications a{
    margin: 10px;
}
/*estilos para secci贸n moviesByClassification*/
.moviesByClasification{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: center;
}
.moviesByClasification img{
  width: 100%;
  min-height: 200px;
}
.moviesByClasificationContainer>h3{
    margin: 10px auto;
    font-size: 5rem;
}
.moviesByClasificationContainer h1{
    color: white;
}
.movieByCategoryContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    margin: 10px auto;
}
.movieByIdContainer{
   
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.movieByCategoryContainer span,
p{
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--secondaryText);
    color:white;
    margin-bottom:10px;
}
.movieByCategoryContainer h3{
    color: var(--mainBlue);
    font-size: 3rem;
}
/*estilos para el goUp*/
.goUp{
    width: 60px;
    height: 60px;
    position: fixed;
    top:90%;
    right: 60px;
    z-index: 200;
}

.goUp img{
    width: 100%;
    height: 100%;
}
/*estilos para footer*/
footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin:10px auto;
    background-color: var(--mainBlue);
}
.footer-logo img{
    cursor:default;
}
.terms,
.aboutUs{
    margin: 10px;
    cursor: pointer;
}

.advices{
    display: none;
    position: absolute;
    width: calc(30%);
    height: 200px;
    padding: 5px;
    bottom: calc(105%);
    left: calc(30%);
    background-color: var(--secondaryBlue);
    z-index: 200;
}
.advices img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
/* estilos para la animaci贸n de carga*/
.newMovies-container--loading{
    background-color: grey;
    border-radius: 8px;
    height: 300px;
    width: 33%;
    margin: 0 10px;
    animation: loading-skeleton infinite 1.5s;
   
    
}
.newMovies-container--loading:nth-child(2){
animation-delay: 0.2s;
}
.newMovies-container--loading:nth-child(3){
    animation-delay: 0.4s;

}
.newMovies-container--loading:nth-child(4){
    animation-delay: 0.4s;

}
.newMovies-container--loading:nth-child(5){
    animation-delay: 0.6s;

}
.newMovies-container--loading:nth-child(6){
    animation-delay: 0.8s;

}
.newMovies-container--loading:nth-child(7){
    animation-delay: 1s;

}
@keyframes loading-skeleton {
    0%,100%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    
}
.sectionContainer--loading{
    background-color: grey;
    border-radius: 8px;
    height: 286px;
    width: 30%;
    margin: 10px ;
    animation: loading-skeleton infinitive 1.5s;
}
.sectionContainer--loading:nth-child(2){
animation-delay: 0.2s;
}
.sectionContainer--loading:nth-child(3){
    animation-delay: 0.4s;
}
/*stilos para tutorial*/
.tutorial-div{
    width: calc(20%);
    height: auto;
    position: absolute;
    top: 100px;
    left: calc(20%);
    padding: 10px;
    background-color: var(--secondaryBlue);
    text-align: justify;
    font-size: 1.6rem;
    font-family: var(--secondaryText);
    color: var(--whiteTextColor);
    z-index: 230;
}
.tutorial-div--img{
    width: 40px;
    height: 40px;
    margin: 0 20px;
    background-color: var(--whiteTextColor);
}
.tutorial-div--button{
    margin: 10px 10px;
    width: 100px;
    height: auto;
    border: none;
    border-radius: 3px;
    background-color: var(--mainBlue);
    color: var(--whiteTextColor);
}
    @media(min-width:700px){
        .header-links {
           padding: 5px 20px;
            justify-content: space-between;
        }
        header section {
            padding: 0 20px;
            justify-content: space-between;
        }
        .studios{
            display: flex;
            margin: 0 auto;
            
        }
         .newMovies{
            height: 250px;
            
        } 
        .new-container img,
        .commingSoon-container img,
        .favourites-container img{
            width: 250px;
            height: 400px;
            margin: 0 10px;
        }
        
        
        
    }
@media(min-width:830px){
    
    header{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 5px;
        background-color: var(--mainBlue);
        
    }
    header .header-links img,
.header-profile img,
.header-searcher img{
    width: 60px;
}
.header-links a{
    margin: 0 10px;
}
main{
    width: 100%;
    height: auto;
}
main section{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}
/*para los t铆tulos de las secciones*/
.section-title{
margin: 20px auto;
font-size: 3rem;
font-family: var(--mainText);
}



.new-container img,
.commingSoon-container img{
    width: 300px;
    height: 450px;
    
}
.classifications{
  
    width: 90%;
    }
footer{
    flex-direction: row;
    width: 100%;
}
 

}
@media(min-width:1200px){
    .newMovies{
        height: 400px;
    }
  
}
