:root{
    --mainBlue:#213285;
    --mainBlack:#141722;
    --mainGrey:#2b2d38;
    --whiteTextColor:#e4e4e3;
    --mainText:'Noto Sans', sans-serif;
    --secondaryText:'Quattrocento Sans', sans-serif;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: var(--mainBlue);
}
body{
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: var(--mainBlack);
    
}
a{
    text-decoration: none;
    color: var(--whiteTextColor);
    cursor: pointer;
}
h3{
    font-family: var(--secondaryText);
    color: var(--whiteTextColor);
}
/*estilos para ocultar seccion*/
main .hidden{
    display: none;
}
main section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    background-color: var(--mainGrey);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 10px;
    margin-top: 10px;
   
}

/*estilos para el header*/
header{
    width: 100%;
    min-width: 320px;
    height:auto;
    display: flex;
    flex-direction:column;
    padding: 0 5px;
    background-color: var(--mainBlue);
}
.header-logo{
    display: flex;
    justify-content: center;
}
header section{
    display: flex;
    align-items: center;
   
   
}
.header-searcher input{
    margin: 0 5px;
}
.header-searcher-lang{
    width: 40px;
    height: 40px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.header-searcher-lang--spanish{
    background-image: url('https://cdn4.iconfinder.com/data/icons/world-flags-12/512/Untitled-2-05-128.png');

}
.header-searcher-lang--english{
    background-image: url('https://cdn4.iconfinder.com/data/icons/flat-country-flag/512/United_States-128.png');

}

.header-logo img{
    width: 86px;
    
}

header section a{
    display: flex;
    align-items: center;
}
header .header-links img,
.header-profile img,
.header-searcher img{
    width: 40px;
}
.header-profile p{
    color:var(--whiteTextColor);
}
.header-links{
    display: flex;
    justify-content: center;
   
    
}
.header-links a{
    margin: 0 3px;
}
/*para poner los titulos a los links de acuerdo al idioma*/

 .header-links__home-english::before{
  content: 'Home';
}
.header-links__home-spanish::before{
    content: 'Inicio';
  }
  .header-links__myList-english::before{
    content: 'Most populars';
  }
  .header-links__myList-spanish::before{
      content: 'Populares';
    }
    .header-links__movies-spanish::before{
        content: 'Cartelera';
    }
    .header-links__movies-english::before{
        content: 'New movies';
    }
    .header-links__search-spanish::before{
        content: 'Buscar';
    }
    .header-links__search-english::before{
        content: 'Search';
    }

/*estilos para secci贸n newMovies*/
.newMovies{
    width: 90%;
    height: 150px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    margin: 20px auto;
    background-color: var(--mainGrey);
    
}

.newMovies .newMovies-container{
    display:flex;
    justify-content: space-around;
   scroll-snap-align: center;
    width: 100%;
    height: 100%;
}
.topMovie-container{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 5px;
    position: relative;
  
    
}
.newMovies .newMovies-container
.topMovie-container img{
    width: 100vw;
    height: 100%;
    opacity: 0.7;
}
.topMovie-container p{
    position: absolute;
    top: calc(10%);
    left: calc(20%);
    color: var(--whiteTextColor);
}
/**/
.new-container p,
.favourites-container p{
    margin: 10px auto;
    font-size: 2rem;
    font-family: var(--secondaryText);
   color: var(--whiteTextColor);
   padding: 0 5px;
}

.newMovies-container{
    animation-name: move;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-direction:normal; 
    animation-timing-function: linear;
}
.newMovies-container:hover{
animation-play-state: paused;
}  
@keyframes move{
    0% {
        margin-left: calc(100vw * 8.8)
    }
     50%{
        
         margin-left:calc(100vw * -8.8)
     }
     100% {
        margin-left:calc(100vw * 8.8)
    }
} 



.tituloPelicula{
    position: absolute;
    top: calc(20%);
    left: calc(40%);
    font-weight: bold;
    font-family: var(--secondaryText);
}
.newMovies .newMovies-container img{
   width: 100%;
   height: 200px;
   margin:0 10px ;
    
}

/*estilos para secci贸n studios*/
.studios{
    display: none;
    width: 90%;
    
}
.studios .container{
    width: 90%;
    
}
.studios-container{
    width:100%;
   
   
    
}
.studios-container img{
    width: 90px;
    height: 60px;
    
    
}
.studios .disney:hover{
    content: url('../images/disney_fondo.jfif');
    cursor:auto;
}
.studios .pixar:hover{
    content: url('../images/pixar_fondo.jfif');
    cursor:auto;
}
.studios .marvel:hover{
    content: url('../images/marvel_fondo.jfif');
    cursor:auto;
}
.studios .starWars:hover{
    content: url('../images/starWars_fondo.jfif');
    cursor:auto;
}
.studios .natgeo:hover{
    content: url('../images/natgeo_fondo.jfif');
    cursor:auto;
}

/*estilos para secci贸n recomendations*/
.sectionContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    
}


/*estilos comunes para secci贸n new, commingsoon y favourites*/
.new,
.commingSoon,
.favourites{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
}
.movie{
    overflow-x: hidden;
}

.new .new-container,
.commingSoon .new-container,
.favourites .new-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    text-align: left;
    scroll-snap-align: center;
   
}
.new-container img,
.commingSoon-container img,
.favouritesContainer img{
    width: 150px;
    height: 200px;
    margin: 0 10px;
}
/*estilos para el bot贸n de like*/
.new-container--likeButton{
  position: absolute;
  top:5px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  z-index: 100;
}
.new-container--likeButton::before{
    content: 'わ';
}
.new-container--dontLikeButton{
    position: absolute;
  top:5px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  z-index: 100;
     background-color: var(--mainBlue);
}
.new-container--dontLikeButton::before{
    content: '';
}
/*estilos para secci贸n classifications*/

.classifications{
display: flex;
flex-wrap: wrap;
width: 90%;
height: auto;
padding: 10px;
margin: 0 auto;
}
.classifications a{
    margin: 10px;
}
/*estilos para secci贸n moviesByClassification*/
.moviesByClasification{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: center;
}
.moviesByClasification img{
  width: 100%;
  min-height: 200px;
}
.moviesByClasificationContainer>h3{
    margin: 10px auto;
    font-size: 5rem;
}
.moviesByClasificationContainer h1{
    color: white;
}
.movieByCategoryContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    margin: 10px auto;
}
.movieByIdContainer{
   
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.movieByCategoryContainer span,
p{
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--secondaryText);
    color:white;
    margin-bottom:10px;
}
.movieByCategoryContainer h3{
    color: var(--mainBlue);
    font-size: 3rem;
}
/*estilos para footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin:10px auto;
    background-color: var(--mainBlue);
}
/* estilos para la animaci贸n de carga*/
.newMovies-container--loading{
    background-color: grey;
    border-radius: 8px;
    height: 300px;
    width: 33%;
    margin: 0 10px;
    animation: loading-skeleton infinite 1.5s;
   
    
}
.newMovies-container--loading:nth-child(2){
animation-delay: 0.2s;
}
.newMovies-container--loading:nth-child(3){
    animation-delay: 0.4s;

}
.newMovies-container--loading:nth-child(4){
    animation-delay: 0.4s;

}
.newMovies-container--loading:nth-child(5){
    animation-delay: 0.6s;

}
.newMovies-container--loading:nth-child(6){
    animation-delay: 0.8s;

}
.newMovies-container--loading:nth-child(7){
    animation-delay: 1s;

}
@keyframes loading-skeleton {
    0%,100%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    
}
.sectionContainer--loading{
    background-color: grey;
    border-radius: 8px;
    height: 286px;
    width: 30%;
    margin: 10px ;
    animation: loading-skeleton infinitive 1.5s;
}
.sectionContainer--loading:nth-child(2){
animation-delay: 0.2s;
}
.sectionContainer--loading:nth-child(3){
    animation-delay: 0.4s;
    }
    @media(min-width:700px){
        .header-links {
           padding: 5px 20px;
            justify-content: space-between;
        }
        header section {
            padding: 0 20px;
            justify-content: space-between;
        }
        .studios{
            display: flex;
            margin: 0 auto;
            
        }
        .newMovies{
            height: 200px;
            
        }
        .new-container img,
        .commingSoon-container img,
        .favourites-container img{
            width: 250px;
            height: 400px;
            margin: 0 10px;
        }
        
        
        
    }
@media(min-width:830px){
    
    header{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 5px;
        background-color: var(--mainBlue);
        
    }
    header .header-links img,
.header-profile img,
.header-searcher img{
    width: 60px;
}
.header-links a{
    margin: 0 10px;
}
main{
    width: 100%;
    height: auto;
}
main section{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}
/*para los t铆tulos de las secciones*/
.section-title{
margin: 20px auto;
font-size: 3rem;
font-family: var(--mainText);
}

.newMovies{
    height: 250px;
}

.new-container img,
.commingSoon-container img{
    width: 300px;
    height: 450px;
    
}
.classifications{
  
    width: 90%;
    }
footer{
    flex-direction: row;
    width: 100%;
}
 

}
@media(min-width:1200px){
    .newMovies{
        height: 350px;
    }
    .newMovies-container{
        animation-duration: 120s;
    }
     
    @keyframes move{
        0% {
            margin-left: calc(100vw * 6.5)
        }
         50%{
            
             margin-left:calc(100vw * -6.5)
         }
         100% {
            margin-left:calc(100vw * 6.5)
        }
    } 
}
